<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>The Guest List</title>
    </head>
    <body>

        <h1>These people are attending</h1>

    <ul>
        <li th:each="guest : ${guests}" th:utext="${guest.name}">guest</li>
    </ul>

    </body>
</html>
